{# Template #}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ config.hed }}</title>
    <link rel="stylesheet" href="./css/main.scss" type="text/css" media="all">
    {% if env == "production" %}
    {% if config.ga_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.ga_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ config.ga_id }}');
    </script>
    {% endif %}
    {% endif %}
</head>

<body>
    <h1 class="figure__title">{{ config.hed }}</h1>
    <h2 class="figure__caption">{{ config.dek }}</h2>
    <figure>
    </figure>
    <div class="figure__source">
        {{ config.source }}
    </div>
    <div class="figure__byline">
        Graphic by {{ config.byline }} / The Michigan Daily
    </div>

    <script src="./js/graphic.js" charset="utf-8"></script>
</body>

</html>
