@import "../../css/fonts.scss";
@import "../../css/colors.scss";

:root {
  --hed-font: var(--sans);
  --body-font: var(--serif);
}

.homepage {
  --hed-font: var(--serif);
  --body-font: var(--sans);
}

body {
  font-family: var(--body-font);
  padding: 1px;
  padding-bottom: 10px;
}

figure {
  margin: 0;
}

.figure {
  &__graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 1.2rem;
    font-family: var(--hed-font);
  }

  &__byline, &__source, &__note {
    font-size: 0.8rem;
  }

  &__caption {
    margin-bottom: 16px;
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
  }
}
