@import "./fonts.scss";
@import "./colors.scss";

body {
  font-family: $sans-serif;
}

.options {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

#graphic {
  border: 1px solid $gray;
  width: 780px;
  resize: horizontal;
  overflow-x: auto;
}
