@import "./fonts.scss";
@import "./colors.scss";

body {
  font-family: $sans-serif;
}

#graphic {
    border: 1px solid $gray;
    width: 400px;
    resize: horizontal;
    overflow-x: auto;
}

textarea {
    width: 400px;
    padding: 0;
}
