:root {
  --blue: #374567;
  --maize: #E0AE4F;
  
  --gray: #D8D8D8;
  --black: #2C2C2C;
  --white: #FFFFFF;
  
  --blue-1: #C8CEDC;
  --blue-2: #65718D;
  --blue-3: #374567;
  --blue-4: #182443;
  --blue-5: #081129;
}
