:root {
  --blue: #374567;
  --maize: #e0ae4f;

  --gray: #d8d8d8;
  --black: #2c2c2c;
  --white: #ffffff;

  --blue-1: #c8cedc;
  --blue-2: #65718d;
  --blue-3: #374567;
  --blue-4: #182443;
  --blue-5: #081129;
}
